body{
	font-family: "微软雅黑";
}
/*head*/
#con_head{
	width: 100%;
    height: 10%;
    padding: 10px 0 10px 0;
    background-color: #44B78B;
    font-family:"微软雅黑";
}
#con_head a img{
	padding: 1% 0 1% 0;
    height: 25px;
}
#head_title {
	padding: 1% 0 1% 0;
    float: right;
    color: #fff;
    height: 10%;
    font-size: 1.375rem;
    width: 72%;
}


/*con_title*/
#con_title{
	width: 100%;
	height: 50px;
}
#con_title dl {
	font-size: 0.9375rem;
	padding-left: 10px;

}
#con_title dl dd{
	padding-top: 5px;
	font-size: 1.125rem;
	color: #777272;
}
#sj_cs{
	padding-top: 10px;
	font-size: 0.9375rem;
	padding-left: 10px;
}
/*con*/
#con {
	width: 100%;
	border-top: 1px solid #CECECE;
	line-height: 28px;
}
#con dt {
	float: left;
	width: 80px;
	color: #777272;
	padding-left: 4%;
}
#con dd {

}


#con_inner{
	border-top:1px solid #CECECE;
	line-height: 40px;

}
/*tishi*/

#con_tishi{
	margin-top: 3%;
	width: 100%;
	box-shadow: 0 2px 9px rgba(100, 100, 100, 0.3);
	font-size: 0.9375rem;
	overflow: hidden;
}
#con_tishi img{
	padding: 2% 0 0 2%;
	width: 50px;
	height: 50px;
}
#con_tishi p {
	width: 80%;
	padding:2% 2% 2% 0;
	float: right;
	color: #555;
    line-height:25px;
    font-size:0.9375rem;
}
#con_dis{
	display: inline-block;
	width: 100%;
	height: 25px;
	text-align: center;
}
#con_dis_p{
	font-size: 0.3125rem;
}
/*jian_jie*/
#con_jian_jie {
	height: 226px;
	margin-top: 3%;
	padding-top: 5px;
	border-top:1px solid #CECECE;
 	color: #777272;
}
#con_jian_jie dt {
	font-size: 0.9375rem;
	padding-left:5%;
	height: 45px;
	line-height: 40px;
	color:#000000;
	background-color: rgba(227, 236, 228, 0.12);
}
#con_jian_jie dd section{
	line-height: 1.9em;
    font-size: 0.9375rem;
    padding: 0 6%;
}
