*{
    margin: 0px;
    padding: 0px;
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 14px;
}
input{
	border: 1px solid;
    border-color: #ccc #ccc #ccc #ccc;
    border-radius: 4px;
    height: 25px;
}

#upheader{
    width: 100%;
	height: 40px;
    padding: 10px 0 10px 0;
	background-color: #44B78B;
}
#fb_main{
    width: 100%;
}
#fb_box{
    width: 100%;
}

.txt_con{
    width: 100%;
    height: 50px;
}

.txt_title{
    padding-left: 2%;
    font-size: 14px;
    color:#E47979;
    width: 20%;
    float: left;
    height: 27px;
    line-height: 25px;
    padding-top: 10px;

}

.txt_line{
    float: right;
    width: 75%;
}

.txt_line input{
    margin-left: 5%;
    width: 75%;
    font-size: 14px;
    text-indent: 5px;
    margin: 3% 0 3% 0;
}
.txt_line span{
    font-size: 10px;
    color: #E47979;
    opacity:0;
} 
/*招聘*/
#id_zhao_ping::-webkit-outer-spin-button {
     -webkit-appearance: none;	
}
#id_zhao_ping::-webkit-inner-spin-button {
     -webkit-appearance: none;
 }
/*简介*/
 #txt_introduction{
	resize: none;
    margin-top: 10px;
	height: 100px;
	width: 75%;
	padding:0px 5px 0px 5px;
}
/*工作地址*/
#id_area{
    margin-top: 3%;
    width: 20%;
	border: 1px solid;
    border-color: #ccc #ccc #ccc #ccc;
    padding: 0px 5px 0px 5px;
    border-radius: 4px;
    height: 28px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #585858;
    font-size:10px;
}
#id_di_zhi{
    width: 52%;
}
/*工作时间*/
.sj{
    height: 50px;
}
#txt_title_sj{
    float:left;
}

.txt_line_sj{
    float: right;
    width: 75%;
    height: 50px;
}
.txt_line_sj span{
    font-size: 10px;
    color: #E47979;
    opacity:0;
}

#id_shi_jian{
    width: 75%;
    text-indent: 5px;
    margin: 3% 0 3% 0;
}
#id_shi_jian2{
    width: 75%;
    text-indent: 5px;
    margin: 3% 0 3% 0;
}
/*工资*/
#id_day_hw{
    width: 22%;
	border: 1px solid;
    border-color: #ccc #ccc #ccc #ccc;
    padding: 0px 5px 0px 5px;
    border-radius: 4px;
    height: 28px;
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #585858;
    font-size:10px;
}
#id_jing_er{
    width: 50%;
}
#id_jing_er::-webkit-outer-spin-button {
     -webkit-appearance: none;	
}
#id_jing_er::-webkit-inner-spin-button {
     -webkit-appearance: none;
}


/*结算*/
#id_jie_suan{
    margin-top: 3%;
	border: 1px solid;
    border-color: #ccc #ccc #ccc #ccc;
    padding: 0px 5px 0px 5px;
    border-radius: 4px;
    height: 25px;
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #585858;
    font-size:15px;	
}

/*联系方式*/

/*提交*/
#txt_tijiao{
    margin: 20px 0 20px 35%;
	background: #44B78B;
	border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    height: 30px;
	width: 100px;
    font-weight: bold;
}
